@model GoodBurger.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Cart";
}

<br />
<br />
<br />
<div class="row text-center">
    <div class="col-md-7">
        @{
            foreach (var item in Model.CartItems)
            {

                <div class="col-md-6" style="height:280px">
                    <button data-toggle="modal" data-target="#@item.Id" id="@item.Name" class="noshape" type="button"><img src="~/images/@{@item.Id}.PNG" /></button>
                    <h3>@item.Name x @item.Number</h3>
                </div>

                <div class="modal fade" id="@item.Id" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h3 class="modal-title" id="exampleModalLabel">@item.Name</h3>
                            </div>
                            <div class="modal-body block">
                                <form action="/Home/AddToCart">
                                    <input name="id" value="@item.Id" hidden />
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img class="block" src="~/images/@{@item.Id}.PNG" />
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-1"></div>
                                                <div class="col-md-11">
                                                    <p>@item.Composition</p>
                                                </div>

                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-5"></div>
                                                <div class="col-md-3">
                                                    Nombre ?
                                                </div>
                                                <div class="col-md-3">
                                                    <input name="number" class="form-control" />
                                                </div>
                                            </div>
                                            <hr />
                                            <div class="row">
                                                <div class="col-md-5"></div>
                                                <div class="col-md-7 navbar-right">
                                                    <button type="submit" class="btn btn-danger"> Add to cart </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3 text-center">
        <hr />
        <p>proceed to payment</p>
        <form action=" /Home/Checkout">
            <button style="margin-top:10px;" type="submit" class="btn  btn-lg btn-danger">Checkout</button>
        </form>
        <hr />
        <p>get your items delivered</p>
        <hr />
        <p>enjoy !</p>
    </div>
</div>
