@model GoodBurger.ViewModels.IndexViewModel

@{
    ViewData["Title"] = "UserAdministration";
}

<h2>UserAdministration</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Username
                </th>
                <th>
                    Address
                </th>
                <th>
                    Name
                </th>
                <th>
                    Admin Index (set to 1 to allow admin)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.users) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminIndex)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Block</a>
            </td>
        </tr>
}
    </tbody>
</table>
