@model GoodBurger.ViewModels.CartValidViewModel

<!-- Button trigger modal -->
<button style="color:white;background-color:white;border-color:white;" id="salut" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" >
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" class="modal-title @Model.Colorstate" id="exampleModalCenterTitle">@Model.message</h2>
            </div>
            <div class="modal-body">
                <div class="col-md-5">
                    <img src="~/img/ALaCarteIcon.PNG" />
                </div>
                <div>
                    <h4>@Model.Name</h4>
                    <p>Stock : @Model.Stock</p>
                    <br />
                    <br />
                    <br />
                    <h2>x @Model.HowMany</h2>
                </div>
                
                
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary coralbuttonsecond" href="/Items">Keep Shopping</a>
                <a class="btn btn-primary coralbutton" href="/Cart">Cart</a>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" asp-append-version="true"></script>
    <script src="~/dist/main.js" asp-append-version="true"></script>
    <script src="~/Scripts/stickynav.js" asp-append-version="true"></script>
    <script src="~/Scripts/addtocart.js" asp-append-version="true"></script>
    <script src="~/Scripts/modal.js" asp-append-version="true"></script>
}

